.task-list--item{
    cursor: pointer;
}

.tasks-board {

    display: block;
    max-width: 620px;
    margin: 0 auto;
}
.tasks-board .card {
    margin: 0;
}

.icon-del {
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
    display: none;
}

.list-group-item:hover .icon-del {
    display: block;
}
